.dashboard-title {
  font-size: 2.5em; /* Tamanho do título */
  color: white; /* Cor do título */
  text-align: center; /* Centraliza o título */
  margin-bottom: 40px; /* Espaço abaixo do título */
  font-family: 'Arial', sans-serif; /* Fonte do título */
}

.dashboard-container {
  display: flex; /* Flexbox para alinhar os containers */
  justify-content: center; /* Centraliza os containers horizontalmente */
  gap: 20px; /* Espaço entre os containers */
}

.nova-receitas,
.nova-despesas,
.novo-saldo {
  background-color: #ffffff; /* Fundo branco para cada card */
  padding: 20px; /* Aumentando o padding */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Sombra mais forte */
  text-align: center; /* Centraliza o texto */
  width: 150px; /* Largura fixa para deixar quadrados */
  height: 150px; /* Altura fixa para deixar quadrados */
  display: flex; /* Para usar flexbox */
  flex-direction: column; /* Direção da coluna */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  border: 2px solid navy; /* Borda azul marinho */
  transition: transform 0.3s, box-shadow 0.3s; /* Transição suave */
}

.nova-receitas:hover,
.nova-despesas:hover,
.novo-saldo:hover {
  transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25); /* Sombra mais intensa ao passar o mouse */
}

.subtitulo-dashboard {
  font-size: 1.6em; /* Tamanho da subtítulo */
  color: #3f51b5; /* Azul escuro para a subtítulo */
  margin-bottom: 15px; /* Espaço abaixo da subtítulo */
  font-family: 'Georgia', serif; /* Fonte da subtítulo */
}

.valor-dashboard {
  font-size: 2em; /* Tamanho do valor */
  color: black; /* Cor preta para o valor */
  font-weight: bold; /* Texto em negrito */
  font-family: 'Arial', sans-serif; /* Mudando a fonte do valor */
}
