.navbar {
  display: flex;
  justify-content: space-between; /* Mantém o espaçamento entre o logo e os links */
  align-items: center;
  background-color: #34495e; /* Cor de fundo mais clara para contraste */
  padding: 15px 30px; /* Ajustando o padding para um layout mais contido */
  color: #ffffff; /* Mantendo a cor branca */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.navbar-logo {
  margin: 0;
  font-size: 2em; /* Tamanho da fonte do logo */
  font-weight: bold; /* Logo em negrito */
  font-family: 'Verdana', sans-serif; /* Usando Verdana para o logo */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Ajustando o espaço entre os links */
  margin: 0; /* Removendo margens */
  padding: 0; /* Removendo padding */
}

.navbar-links li {
  position: relative; /* Permite posicionamento de pseudo-elementos se necessário */
}

.navbar-links li a {
  color: #ecf0f1; /* Cor dos links mais clara */
  text-decoration: none; /* Sem sublinhado nos links */
  font-size: 1.1em; /* Tamanho da fonte dos links */
  font-family: 'Arial', sans-serif; /* Usando Arial para os links */
  padding: 10px; /* Padding para links */
  transition: background-color 0.3s, color 0.3s; /* Transição suave para o hover */
  border-radius: 5px; /* Bordas arredondadas para links */
}

.navbar-links li a:hover {
  background-color: #2c3e50; /* Cor de fundo ao passar o mouse */
  color: #ffffff; /* Mantendo a cor do texto branca ao passar o mouse */
}
