
.nova-receita-container {
    background-color: #e0e0e0; 
    padding: 30px;
    border-radius: 12px;
    width: 450px; 
    margin: auto;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
}
  .titulo-receita {
    font-size: 2.2em; 
    color: #d84315; 
    text-align: center;
    margin-bottom: 25px; 
    font-family: 'Georgia', serif; 
  }
  
  .descricao-receita {
    font-size: 1.4em; 
    color: #6d4c41; 
    text-align: center;
    margin-bottom: 25px; 
    font-family: 'Verdana', sans-serif; 
  }
  
  .form-receita {
    display: flex;
    flex-direction: column;
  }
  
  .label-receita {
    font-size: 1.2em; 
    color: #d84315; 
    margin-bottom: 12px; 
    font-family: 'Arial', sans-serif; 
  }
  
  .input-receita {
    padding: 12px; 
    margin-bottom: 24px; 
    border: 2px solid #d84315; 
    border-radius: 6px; 
    font-size: 1em; 
  }
  
  .botao-receita {
    background-color: #ff5722; 
    color: white;
    padding: 12px; 
    border: none;
    border-radius: 6px; 
    cursor: pointer;
    font-size: 1.2em; 
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .botao-receita:hover {
    background-color: #e64a19; 
    transform: scale(1.05); 
  }
  