body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #838883;
  padding: 10px 20px;
  color: white;
}
s
.navbar-logo {
  margin: 0;
  font-size: 1.5em;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: #f0f0f0;
}

